@import "prosemirror-view/style/prosemirror.css";

.prosemirror-editor {
  .ProseMirror {
    min-height: 320px;
    outline: none;
    padding: 12px 0 72px 0;
  }

  font-size: 14px;
  @import (less) "./simple.less";
}